* {
    margin: 0;
    padding: 0;
}
#allpage {
    width: 1024px;
    margin: 0 auto;
}
.menu {
    overflow: auto;
    width: 100%;
    list-style-type: none;
    background-color: #66B3FF;
    border-bottom: 3px solid #cccccc;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.menu li {
    float: left;
    width: 7em;/*為了讓連結區域能依字型大小的變化自動放大,因此在指定width屬性時採用em為單位*/
    border-right: 1px solid #cccccc;
}
.menu li a {
    display: block;
    width: 100%;
    line-height: 2.5em;/*讓文字上下空出適當的空白,不用padding屬性,直接將行Box的高度設的高一些*/
    color: #333333;
    text-decoration: none;
    text-align: center;
}
.menu li a:hover {
    color: #FFFFFF;
    background-color: #0080FF;
}
.content {
    overflow: auto;
    width: 100%;
    padding-bottom: 20px;
}
article {
    float: left;
    width: 75%;
}
aside {
    float: right;
    width: 20%;
}
.title {
    background-color: rgb(31, 111, 190);
    line-height: 2.5em;
    color: #F0F0F0;
    padding-left: 20px;
}
article section {
    margin: 16px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
article section p {
    margin: 10px 0;
}
.list1 {
    list-style: decimal inside;
}
aside dl {
    margin: 16px;
}
/* 九九乘法表 CSS */
table {
    background-color: rgb(0, 236, 253);
    border: 1px solid blue;
    border-spacing: 0;
    /* 邊框間距 */
}

table tr {
    text-align: center;
    /* 置中 */
    color: rgb(224, 9, 9);
}

table td {
    border-right: 1px solid blue;
}