*{
    margin:0;
    padding:0;
  }
  #allpage{
      width: 1024px;
      margin: 0 auto;
  }
  .menu
  {
      background-color: #66B3FF;
      width:100%;
      overflow: auto;
      list-style-type: none;
      border-bottom:3px solid #cccccc;
      border-top-right-radius:15px;
      border-top-left-radius:15px;         
  }
  .menu li
  {
      float: left;
      width: 7em;
      border-right: 1px solid #cccccc;          
  }
  .menu li a
  {
   display:block;
   width:100%;        	     
   line-height:2.5em;/*讓文字上下空出適當的空白,不用padding屬性,直接將行Box的高度設的高一些*/
   color:#333333;
   text-decoration:none;         
   text-align:center;         	     
   }         
  .menu li a:hover
  {
  color:#FFFFFF;
  background-color:#0080FF;
  }
  .title{
      background-color:#0066CC;
      color: #f0f0f0;
      line-height: 2.5em;
      padding-left:20px;
  }
  article section{
      margin: 16px;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 10px;
  }
  article section p{
      margin: 10px 0;
  }
  .list1{
      list-style: decimal inside;
  }
  aside dl{
      margin: 16px;
  }
  .content{
      overflow: auto;
      width: 100%;
      padding-bottom: 20px;
  }
  article{
      float:left;
      width: 75%;
  }
  aside{
      float:right;
      width: 20%
  }
  footer {
  width:100%;
  clear:both;
  line-height:2.5em;		
  text-align:center;
  color:#ffffff;
  background-color:#66B3FF;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
  }